@using Newtonsoft.Json
@using Progress.Sitefinity.RestSdk.Dto;
@using VFL.Renderer.Dto

@model Progress.Sitefinity.AspNetCore.Widgets.Models.ContentList.ContentListViewModel

<section class="quick-link">
    <div class="container">
        <div class="row align-items-center text-light">
            @{
                var first = Model.Items.FirstOrDefault();
            }
            @foreach (var item in Model.Items)
            {
                var image = Model.GetFirstRelatedMedia(item, "LinkImage");
                var thumbnail = image != null ? image.GetThumbnail() : null;
                var title = Model.GetFieldValue<string>(item, "Title");                
                var Link = Model.GetFieldValue<string>(item, "LinkUrl");
                LinkItemModel[] links = JsonConvert.DeserializeObject<LinkItemModel[]>(Link);

                <div class="col-md-2 col-4 iconbox-banner">
                    <div class="iconbox-icon">
                        <a href="@links[0].href">
                            <div class="icon-circle">
                                <img class="iconsvg" src="@image.Url" alt="My Vodafone">
                            </div>
                            <span class="ico_nav_menu"><p>@title</p></span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>