@using Progress.Sitefinity.AspNetCore.Mvc.Rendering

@model VFL.Renderer.ViewModels.PageTitle.PageTitleViewModel


<!-- page-header -->
<section class="page-header">
    <div class="page-header-bg"></div>
    <div class="container">
        <!-- page-header-inner -->
        <div class="page-header-inner text-center">
            <h2 class="wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="100ms">
                @Model.Title
            </h2>
        </div>
    </div>
</section>